<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Utility Calculation</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <form action="" [formGroup]="utilityCalculation">
            <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">State<span class="text-danger">*</span></label>

                        <select class="form-select" aria-label="Default select example" required formControlName="state" id="state" (change)="getSubonStateChange($event)">
                            <option selected>Choose State... </option>
                            <option *ngFor="let state of stateDtails" [value]="state.stateId">{{ state.stateName }}</option>
                        </select>
                         <div *ngIf="utilityCalculation.get('state')?.hasError('required') && utilityCalculation.get('state')?.touched" style="color: red;">
                            State is required.
                          </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">SBU<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" required formControlName="sbu" id="sbu" (change)="getPlantOnSubChange($event)" >
                            <option selected>Choose SBU... </option>
                            <option [value]="sbu.locationId" *ngFor="let sbu of activeSBU" >{{sbu.locationName}}</option>
                    
                        </select>
                        <div *ngIf="utilityCalculation.get('sbu')?.hasError('required') && utilityCalculation.get('sbu')?.touched" style="color: red;">
                            SBU is required.
                          </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">Plant<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" required formControlName="plant"  id="plant" (change)="getHouseByPlantId($event)">
                            <option selected>Choose Plant... </option>
                            <option [value]="plant.plantId" *ngFor="let plant of activePlant">{{plant.plantName}}</option>
                        </select>
                        <div *ngIf="utilityCalculation.get('plant')?.hasError('required') && utilityCalculation.get('plant')?.touched" style="color: red;">
                            Plant is required.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">House Id <span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" required formControlName="houseId" id="houseId" >
                            <option selected >Choose HouseId... </option>
                            <option *ngFor="let house of activeHouse" [value]="house.houseId">{{house.houseName}}</option>
                           
                        </select>
                        <div *ngIf="utilityCalculation.get('houseId')?.hasError('required') && utilityCalculation.get('houseId')?.touched" style="color: red;">
                            House Id is required.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">Start Date<span class="text-danger">*</span></label>
                        <input type="date" name="" id="" class="form-control" formControlName="startDate"
                            required  [min]="getCurrentDate() | date:'yyyy-MM-dd'">
                            <div *ngIf="utilityCalculation.get('startDate')?.hasError('required') && utilityCalculation.get('startDate')?.touched" style="color: red;">
                                Start Date is required.
                              </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <label for="state" class="form-label">End Date<span class="text-danger">*</span></label>
                        <input type="date" name="" id="" class="form-control" formControlName="endDate"
                            required   [min]="utilityCalculation.get('startDate')?.value | date:'yyyy-MM-dd'">
                            <div *ngIf="utilityCalculation.get('endDate')?.hasError('required') && utilityCalculation.get('endDate')?.touched" style="color: red;">
                                End Date is required.
                              </div>
                    </div>
                </div>

            </div>


            <div class="row pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">

                <h5 class="mt-4  text-black" >
                    Utility Details
                </h5>
                <div class="row pt-4" style=" padding-left: 3%;">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Misc Expense</label>
                            <input type="text" name="" id="" class="form-control" formControlName="miscExp"  maxlength="8" value="0">
                            <!-- <div *ngIf="utilityCalculation.get('miscExp')?.hasError('required') && utilityCalculation.get('miscExp')?.touched" style="color: red;">
                                Misc Expense is required.
                              </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4  ">
                        <div class="form-group">
                            <label for="state" class="form-label">Bill Upload</label>
                             <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'miscBill')">
                          <!-- <div *ngIf="utilityCalculation.get('miscBill')?.hasError('required') && utilityCalculation.get('miscBill')?.touched" style="color: red;">
                            Misc Bill Upload is Mandatory.
                          </div> -->
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputmiscBill.click()" formControlName="miscBill" > -->
                        </div>
    
                    </div>
                    <div class="col-sm-6 col-md-4  ">
                        <div class="form-group">
                            <label for="state" class="form-label">Receipt Upload</label>
                             <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'miscrecept')">
                          <!-- <div *ngIf="utilityCalculation.get('miscrecept')?.hasError('required') && utilityCalculation.get('miscrecept')?.touched" style="color: red;">
                            Misc Receipt Upload is Mandatory.
                          </div> -->
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputmiscrecept.click()" formControlName="miscrecept" > -->
                        </div>
    
                    </div>
              
                    <hr class="my-3">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="form-group">
                            <label for="state" class="form-label">HR Expense</label>
                            <input type="text" name="" id="" class="form-control" formControlName="hrexp"  maxlength="8" (input)="validateService.allowNumericDigits($event) "value="0 ">
                            <!-- <div *ngIf="utilityCalculation.get('hrexp')?.hasError('required') && utilityCalculation.get('hrexp')?.touched" style="color: red;">
                                HR Expense is required.
                              </div> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4  ">
                        <div class="form-group">
                            <label for="state" class="form-label">Bill Upload</label>
                             <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'hrbill')">
                          <!-- <div *ngIf="utilityCalculation.get('hrbill')?.hasError('required') && utilityCalculation.get('hrbill')?.touched" style="color: red;">
                            HR Expense Bill Upload is Mandatory.
                          </div> -->
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputhrbill.click()" formControlName="hrbill" > -->
                        </div>
    
                    </div>
    
                    
                      <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                          <label for="state" class="form-label">Receipt Upload</label>
                           <!-- Hidden input to store file value  -->
                          <input type="file"  class="form-control" accept="image/*,.pdf" (change)="onImageChange($event, 'hrrecept')">
                          <!-- <div *ngIf="utilityCalculation.get('hrrecept')?.hasError('required') && utilityCalculation.get('hrrecept')?.touched" style="color: red;">
                            HR Expense Receipt Upload is Mandatory.
                          </div> -->
                          <!-- Visible input to display file name  -->
                          <!-- <input type="text" readonly class="form-control" (click)="fileInputhrrecept.click()" formControlName="hrrecept" > -->
                        </div>
                      </div>
                      
                      
                    <hr class="my-3">
                    <div class="row" formArrayName="electricbill">
                        <div class="row" *ngFor="let stateGroup of electric.controls; let i = index" [formGroupName]="i"> 
                        <div class=" col-md-3">
                          <div class="form-group">
                            <label for="electricBill" class="form-label">Electric Bill Expense<span class="text-danger">*</span></label>
                            <input type="text" id="electricBill" class="form-control" required formControlName="eleExpenseAmt"  maxlength="8" (input)="validateService.allowNumericDigits($event)">
                            <div style="color: red;" *ngIf="electric.controls[i].get('eleExpenseAmt')?.hasError('required') && electric.controls[i].get('eleExpenseAmt')?.touched">
                                Electric Bill Expense is required.
                              </div>
                          </div>
                        </div>
                        <div class=" col-md-4">
                          <div class="form-group">
                            <label for="billUpload" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                             <!-- Hidden input to store file value  -->
                          <input type="file"  class="form-control" accept="image/*,.pdf" (change)="onImageChange($event, 'eleBillDoc','electricbill', i)">
                          <div style="color: red;" *ngIf="electric.controls[i].get('eleBillDoc')?.hasError('required') && electric.controls[i].get('eleBillDoc')?.touched">
                            Electric Bill Upload is Mandatory.
                          </div>
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputbillupload.click()" formControlName="billupload" > -->
                          </div>
                        </div>
                        <div class=" col-md-3">
                          <div class="form-group">
                            <label for="receiptUpload" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                             <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'eleRecDoc','electricbill', i)">
                          <div style="color: red;" *ngIf="electric.controls[i].get('eleRecDoc')?.hasError('required') && electric.controls[i].get('eleRecDoc')?.touched">
                             Receipt Upload is Mandatory.
                          </div>
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputreceiptupload.click()" formControlName="receiptupload" > -->
                          </div>
                          
                        </div>
                        <div class="col-md-2 btn-icon">
                          <button class="btn btn-danger btn-sm" *ngIf="i>0" (click)=" removeelectric(i)">
                            <i class="fa-solid fa-trash-alt"></i>
                          </button>
                          <button (click)=" addelectric()" type="button" class="btn btn-primary m-1 btn-sm"> <i class="fa-solid fa-plus"></i></button>
                        </div>
                      </div>
                    </div>
                      
                    <hr class="my-3">
                    <div class="row" formArrayName="waterbill"> 
                        <div class="row" *ngFor="let stateGroup of water.controls; let i = index" [formGroupName]="i">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="state" class="form-label">Water Bill Expense<span class="text-danger">*</span></label>
                            <input type="text" name="" id="" class="form-control" required formControlName="waterExpenseAmount"  maxlength="8" (input)="validateService.allowNumericDigits($event)">
                            <div style="color: red;" *ngIf="water.controls[i].get('waterExpenseAmount')?.hasError('required') && water.controls[i].get('waterExpenseAmount')?.touched">
                                Water Bill Expense is required.
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4  ">
                        <div class="form-group">
                            <label for="state" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                             <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'waterBilldoc','waterbill',i)">
                          <div style="color: red;" *ngIf="water.controls[i].get('waterBilldoc')?.hasError('required') && water.controls[i].get('waterBilldoc')?.touched">
                            Water Bill Upload is Mandatory.
                          </div>
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="fileInputwaterbillupload.click()" formControlName="waterbillupload" > -->
                        </div>
    
                    </div>
    
                    <div class="col-sm-6 col-md-3  ">
                        <div class="form-group">
                            <label for="state" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                              <!-- Hidden input to store file value  -->
                          <input type="file" class="form-control"  accept="image/*,.pdf" (change)="onImageChange($event, 'waterRecDoc','waterbill', i)">
                          <div style="color: red;" *ngIf="water.controls[i].get('waterRecDoc')?.hasError('required') && water.controls[i].get('waterRecDoc')?.touched">
                            Receipt Upload is Mandatory.
                          </div>
                          <!-- Visible input to display file name  -->
                         <!-- <input type="text" readonly class="form-control" (click)="waterreceiptupload.click()" formControlName="waterreceiptupload" > -->
                        </div>
    
                    </div>
                    <div class="col-md-2 btn-icon" >
                        <button class="btn btn-danger btn-sm" *ngIf="i>0" (click)="removewater(i)">
                          <i class="fa-solid fa-trash-alt" ></i>
                        </button>
                        <button type="button" class="btn btn-primary m-1 btn-sm" (click)="addwater()"> <i class="fa-solid fa-plus" ></i></button>
                    </div>
                </div>
              </div>
                 
                    
                </div>

            </div>
            <div class="mt-4 d-flex justify-content-end">
                <button *ngIf="!updatebtn" class="btn btn-primary form-save-btn" (click)="postUtilityCalc()">
                    Save
                </button>
                <button *ngIf="updatebtn" class="btn btn-primary form-save-btn" (click)=" updateUtilityCalc()">
                    Update
                </button>
            </div>
            
        </form>
        <div class="" style=" position: relative; overflow-x: auto; overflow-y: auto; padding-top: 30px;">
            <table class="table w-full table-bordered table-striped">
                <thead class="">
                    <tr>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">State</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">SBU</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Plant</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">House Name</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">HR EXP</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">MISC EXP</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">ELE EXP</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">WTR EXP</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Start Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">End Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Created Date</th> 
                         <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      }; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.stateName }}</td>
                        <td>{{ item.locationName}}</td>
                        <td>{{ item.plantName}}</td>
                        <td>{{ item.houseName }}</td>
                        <td>{{ item.hrExpenseAmount }}</td>
                        <td>{{ item.miscExpenseAmount }}</td>
                        <td>{{ item.eleExpenseAmount }}</td>
                        <td>{{ item.waterExpenseAmount }}</td>
                        <td>{{ item.startDate}}</td>
                        <td>{{ item.endDate }}</td>
                        <td>{{ item.createdDate}}</td>

                         <td>
                            <div style="display: inline-flex; ">
                                <button class="btn  btn-sm mx-2"
                                style="background-color: rgb(22, 133, 236);color: #faf7f7;" (click)="updateUtilityCalcForm(item)">
                                    <i class="fa-solid fa-edit"></i>
                                </button>

                                <!-- <button class="btn btn-danger btn-sm mx-2 " (click)="onClick()">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button> -->
                                <button class="btn btn-danger btn-sm mx-2 " (click)=" removeUtilityCalc(item.utilityCalcId)">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>

                            </div>

                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
            <button class="btn btn-primary form-save-btn" (click)="exportAsXLSX()">
                Export To Excel
              </button>
        </div> 
    </div>
</section>
<app-footer></app-footer>