<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Utility  Calculation</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">State<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">SBU<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Plant<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">House Id <span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            


           
        </div>


        <div class="row pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">
           
            <h5 class="mt-4  text-black"  >
                Utility  Details
            </h5>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">HR Expense<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            <hr class="my-3">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Electric Bill Expense<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
           
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            <hr class="my-3">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Water Bill Expense<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            <hr class="my-3">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Misc Expense<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Bill Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Receipt Upload<span class="text-danger">*</span></label>
                    <input type="file" name="" id=""class="form-control" accept="image/*">
                    
                </div>

            </div>
            
            

            

        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Save
            </button>
        </div>
    </div>
</section>
<app-footer></app-footer>