<app-header></app-header>
<section id="secondary-header" class="px-2 px-sm-0">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>House Owner Registration</span>
    </div>
</section>
<section id="page-content" class="px-2 px-sm-0">
    <div class="container">

        <ul class="nav" id="" role="">
            <li class="nav-item w-100" role="">
                <button class="nav-link active w-100 text-uppercase text-white" id="" style="
                background-color: rgba(0, 133, 159, 1);
                color: #faf7f7;
                font-weight: bold;
                text-align: left;
              " aria-controls="trip-tab-pane" aria-selected="true">
                    House Owner Details/ Legal Heir
                </button>
            </li>
            
        </ul>
        <form action=""  [formGroup]="houseRegistrationForm">
            <div style="background-color: rgba(226, 242, 246, 1); padding: 5%">
                <!-- house-owner-registration -->
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">House Owner Name<span
                                    class="text-danger">*</span></label>
                            <input type="text" name="ownerName" id="ownerName" formControlName="ownerName" class="form-control"  />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Phone Number<span class="text-danger">*</span></label>
                            <input type="text" name="phoneNo" id="phoneNo" class="form-control" formControlName="phone" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Email ID<span class="text-danger">*</span></label>
                            <input type="email" name="emailId" id="emailId" class="form-control" formControlName="email" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Upload Govt ID Proof<span
                                    class="text-danger"></span></label>
                            <input type="file" name="" id="" class="form-control" accept="image/*" required  (change)="onImageChange($event, 'idProof')"  />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Govt ID Proof<span
                                    class="text-danger"></span></label>
                            <input type="text" name="idProof" id="idProof" class="form-control" formControlName="gIdproof" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Address 1<span class="text-danger"></span></label>
                            <input type="text" name="address1" id="address1" class="form-control"formControlName="add1" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">Address 2<span class="text-danger"></span></label>
                            <input type="text" name="address2" id="address2" class="form-control" formControlName="add2" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label  class="form-label">State<span
                                    class="text-danger">*</span></label>
                            <select class="form-select" aria-label="Default select example" formControlName="state" >
                                <option selected>Choose State... </option>
                                <option *ngFor="let state of stateDtails" [value]="state.stateId">{{ state.stateName }}</option>
                            
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">District<span class="text-danger"></span></label>
                            <input type="text" name="emailId" id="emailId" class="form-control" formControlName="dist" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label for="state" class="form-label">PIN<span class="text-danger"></span></label>
                            <input type="number" name="pinCode" id="pinCode" class="form-control" formControlName="pin" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label for="state" class="form-label">Payment Mode0wn<span class="text-danger">*</span></label>
                        <select class="form-select" (change)="paymentmode($event, 'owner')" aria-label="Default select example" formControlName="paymode"
                            name="paymtMode" id="paymtMode" >
                            <option selected>Choose Payment Mode...</option>
                            <option [value]="1" routerLink="">
                                Bank AC
                            </option>
                            <option [value]="2">Cash</option>
                            <option [value]="3" routerLink="">
                                BHIM UPI
                            </option>
                            <option [value]="4" routerLink="">
                                Phone Pe
                            </option>
                            <option [value]="5" routerLink="">
                                Paytm
                            </option>
                            <option [value]="6" routerLink="">
                                Google Pay
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <label for="state" class="form-label">Status<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" formControlName="status" (change)="showLegal($event)">
                            <option value="1">Active</option>
                            <option value="0" *ngIf="updatebtn">InActive</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4" *ngIf="descripinput">
                            <div class="form-group">
                              <label for="state" class="form-label">Description<span class="text-danger"></span></label>
                              <input type="text" class="form-control" formControlName="desc">
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-8" *ngIf="legalheir" style="margin-top: 28px">
                            <button class="btn btn-primary float-end" (click)="togglelegal()">Add Legal Heir</button>
                          </div>
                    </div>
                </div>
              
               
                
                <ng-container *ngIf="heading">
                    <h5 class="mt-4 text-secondary">Bank Account Details of House Owner</h5>
                    <hr class="my-1" />
                    <!-- cash -->
                    <div class="cash row pt-4 ">

                    </div>
                    <!-- bank-ac -->
                    <div class=" bank-ac row pt-4" *ngIf="bank" >
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Account Holder Name<span
                                        class="text-danger"></span></label>
                                <input type="text" name="accountHolderName" id="accountHolderName" formControlName="accHolName" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Account Number<span
                                        class="text-danger"></span></label>
                                <input type="text" name="bankAccountNo" id="bankAccountNo" class="form-control" formControlName="accounNum" >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">IFSC<span class="text-danger"></span></label>
                                <input type="text" name="ifscCode" id="ifscCode" class="form-control" formControlName="ifsc" >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">PAN Card <span
                                        class="text-danger"></span></label>
                                <input type="text" name="panNo" id="panNo" class="form-control" formControlName="pan" >
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Upload PAN Card<span
                                        class="text-danger"></span></label>
                                <input type="file" name="" id="" class="form-control" accept="image/*"  (change)="onImageChange($event, 'panPic')" formControlName="panPic">
                            </div>
                        </div>
                        
                    </div>
                    <!-- upi -->
                    <div class="row pt-4" *ngIf="upi">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">UPI ID<span class="text-danger"></span></label>
                                <input type="text" class="form-control" formControlName="upiId">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Linked Mob._No<span
                                        class="text-danger"></span></label>
                                <input type="text" class="form-control" formControlName="linkMobile">
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Upload QR Code<span
                                        class="text-danger"></span></label>
                                <input type="file" name="" id="" class="form-control" accept="image/*" (change)="onImageChange($event, 'qrCode')" >
                            </div>
                        </div>
                    </div>
                </ng-container>
                  <!-- add-legal-heir -->
                <div class="row" *ngIf="legalbtnh">
                    <div class="container" style="padding: 20px 0;">
                        <ul class="nav" id="" role="">
                            <li class="nav-item w-100" role="">
                                <button class="nav-link active w-100 text-uppercase text-white" id="" style="
                                background-color: rgba(0, 133, 159, 1);
                                color: #faf7f7;
                                font-weight: bold;
                                text-align: left;
                              " aria-controls="trip-tab-pane" aria-selected="true">
                                     Legal Heir Details
                                </button>
                            </li>
                            
                        </ul>
                    </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Owner Name<span class="text-danger"></span></label>
                                <input type="text" name="name" id="" formControlName="ownerName" class="form-control" readonly required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">Upload L.H. Certificate<span
                                        class="text-danger"></span></label>
                                <input type="file" name="" id="" class="form-control" accept="image/*" (change)="onImageChange($event, 'uploadlegalheir')" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="state" class="form-label">No of Legal Parties<span
                                        class="text-danger"></span></label>
                                <input type="text" name="noOfLegalParties" id="" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="noOfLegalParties" >
                            </div>
                        </div>
                    <form action="" [formGroup]="legalheirForm">
                        <div class="container"  formArrayName="legal">
                            <div class="container" *ngFor="let stateGroup of legalheirarray.controls; let i = index" [formGroupName]="i">
                               <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">House Owner Name<span
                                                class="text-danger"></span></label>
                                        <input type="text" formControlName="ownerName" name="name" id="" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Phone Number<span class="text-danger"></span></label>
                                        <input type="text" formControlName="phoneNo" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Email ID<span class="text-danger"></span></label>
                                        <input type="email" formControlName="emailId" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                               </div>
                               <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Upload Govt ID Proof<span
                                                class="text-danger"></span></label>
                                        <input  type="file" name="" id="" class="form-control" accept="image/*" (change)="onImageChange($event, 'idProofDoc', 'legal',1)" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Govt ID Proof<span
                                                class="text-danger"></span></label>
                                        <input type="text" formControlName="idProof" name="" id="" class="form-control" required>
                                    </div>
                                </div>
            
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Address 1<span class="text-danger"></span></label>
                                        <input type="text" formControlName="address1" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                               </div>

                               <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">Address 2<span class="text-danger"></span></label>
                                        <input type="text" name="" formControlName="address2" id="" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">State<span class="text-danger"></span></label>
                                        <select class="form-select" aria-label="Default select example"  >
                                            <option selected formControlName="state">Choose State... </option>
                                            <option *ngFor="let state of stateDtails" [value]="state.stateId">{{ state.stateName }}</option>
                                        
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">District<span class="text-danger"></span></label>
                                        <input type="text" formControlName="district" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                               </div>

                               <div class="row"> 
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label for="state" class="form-label">PIN<span class="text-danger"></span></label>
                                        <input type="text" formControlName="pinCode" name="" id="" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <label for="state" class="form-label">Payment Mode<span class="text-danger"></span></label>
                                    <select formControlName="paymtMode" class="form-select" aria-label="Default select example"
                                        required (change)="paymentmode($event, 'legal',i)">
                                        <option selected>Choose Payment Mode...</option>
                                        <option value="1" routerLink="">Bank AC</option>
                                        <option value="2">Cash</option>
                                        <option value="3" routerLink="">BHIM UPI</option>
                                        <option value="4" routerLink="">Phone Pe</option>
                                        <option value="5" routerLink="">Paytm</option>
                                        <option value="6" routerLink="">Google Pay</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-4  ">
                                    <label for="state" class="form-label">Status (Legal heir)<span class="text-danger">*</span></label>
                                    <select formControlName="isActive" class="form-select" aria-label="Default select example" required >
                                        <option selected>Choose Status...</option>
                                        <option value="1">Active</option>
                                        <option value="0">InActive</option>
            
            
                                    </select>
                                </div>
                               </div>
                               
            
                                <ng-container *ngIf=" showhidebankdetails(i) == 'Bank' ||  showhidebankdetails(i) == 'upi'">
                                    <h5 class="mt-4 text-secondary">Bank Account Details of Legaal Heir</h5>
                                    <hr class="my-1" />
                                    <!-- cash -->
                                    <div class="cash row pt-4 ">
                
                                    </div>
                                    <!-- bank-ac -->
                                    <div class=" bank-ac row pt-4" *ngIf=" showhidebankdetails(i) == 'Bank'" >
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">Account Holder Name<span
                                                        class="text-danger"></span></label>
                                                <input type="text" formControlName="accountHolderName" name="accountHolderName" id="accountHolderName" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">Account Number<span
                                                        class="text-danger"></span></label>
                                                <input type="text" formControlName="bankAccountNo" name="bankAccountNo" id="bankAccountNo" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">IFSC<span class="text-danger"></span></label>
                                                <input type="text" formControlName="ifscCode" name="ifscCode" id="ifscCode" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">PAN Card <span
                                                        class="text-danger"></span></label>
                                                <input type="text" formControlName="panNo" name="panNo" id="panNo" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">Upload PAN Card<span
                                                        class="text-danger"></span></label>
                                                <input type="file" name="" id="" class="form-control" accept="image/*" (change)="onImageChange($event, 'panCardAddress', 'legal',1)" >
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- upi -->
                                    <div class="row pt-4" *ngIf="showhidebankdetails(i) == 'upi'" >
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">UPI ID<span class="text-danger"></span></label>
                                                <input formControlName="upiId" type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">Linked Mob._No<span
                                                        class="text-danger"></span></label>
                                                <input  type="number"  formControlName="upiPhoneNo" class="form-control" >
                                            </div>
                                        </div>
                
                
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label for="state" class="form-label">Upload QR Code<span
                                                        class="text-danger"></span></label>
                                                <input type="file" name="" id="" class="form-control" accept="image/*" (change)="onImageChange($event, 'uploadQuarCodeAdds', 'legal',1)">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="mt-4 d-flex justify-content-end" *ngIf="legalbtnh">
                                    <button class="btn btn-danger " style="margin-right: 10px;" *ngIf="i>0" (click)="removelegalform(i)">
                                        <i class="fa-solid fa-trash-alt"></i>
                                      </button>
                                    <button class="btn button btn-primary form-save-btn" (click)=" addlegaleirform()">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    
                    
                </div>
                
                
            </div>

            <div class="mt-4 d-flex justify-content-end">
                <button *ngIf="!updatebtn" class="btn btn-primary form-save-btn" (click)=" ownerRegistration()" >
                    Save
                </button>
                <button *ngIf="updatebtn" class="btn btn-primary form-save-btn" (click)=" updateowner()" >
                   Update
                </button>
            </div>

        </form>


        <div class="" style="
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        margin-top: 30px;
      ">
            <table class="table w-full table-bordered table-striped">
                <thead class="">
                    <tr>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">House Owner Name</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Phone no</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Address</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Govt ID</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Account Number</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">IFSC Code</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">PAN Card</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Payment Mode</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">UPI Id/linked Mob. No.</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">QR Code</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Start Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">End Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allOwner; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.ownerName }}</td>
                        <td>{{ item.phoneNo }}</td>
                        <td>{{ item.address1}}</td>
                        <td>{{ item.idProof }}</td>
                        <td>{{ item.bankAccountNo }}</td>
                        <td>{{ item.ifscCode}}</td>
                        <td>{{ item.panNo }}</td>
                        <td>{{ item.paymtMode }}</td>
                        <td>{{ item.upiPhoneNo}}</td>
                        <td>{{ item.uploadQuarCodeAdds }}</td>
                        <td>{{ item.createdDate }}</td>
                        <td>{{ item.updatedDate}}</td>
                        <td>
                            <div style="display: inline-flex; ">
                                <button class="btn  btn-sm mx-2" (click)="editOwner(item)"
                                    style="background-color: rgb(22, 133, 236);color: #faf7f7;">
                                    <i class="fa-solid fa-edit"></i>
                                </button>

                                <button class="btn btn-danger btn-sm mx-2 " (click)="deleteOwner(item.ownerId)">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<app-footer></app-footer>