<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Payment Mode</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        
        <ul class="nav  " id="" role="">
            <li class="nav-item w-100  "  role="">
                <button class="nav-link active w-100 text-uppercase text-white" id="" 
                style="background-color: rgba(181, 205, 210, 1); height: 65px; color: #faf7f7; font-weight: bold;font-size: 1.5rem;
                line-height: 2rem" 
                    aria-controls="trip-tab-pane" aria-selected="true">Payment Modes</button>
            </li>
           
            
        </ul>
        <div class="contener-1" >
            <div class="row">
                <div class=" col-sm-6 col-md-3 ">
                    <div class="form-group-1 " >
                        <div class="">
                            <button class=" col-12 bottom-1 " >
                                Net Banking
                            </button>
                        </div>
                        <div class="">
                            <button class=" col-12 col-md-12 bottom">
                                BHIM UPI/Phone Pe
                            </button>
                        </div>
                        <div class="">
                            <button class="col-12 col-md-12 bottom" >
                                UPI QR Code
                            </button>
                        </div>
                        <div class="">
                            <button class="col-12 col-md-12 bottom" >
                                Paytm
                            </button>
                        </div>
                        <div class="">
                            <button class="col-12 col-md-12 bottom">
                                Google Pay
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-9">
                    <div class="form-group row mt-4">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Benificiary Name<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Account No<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Confirm Account No<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">IFSC Code<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Bank Name <span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Amont<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-sm-6 col-md-3 input "> 
                            <label for="state" class="form-label m-0">Remarks<span class="text-danger">*</span></label>

                        </div>
                        <div class="col-sm-6 col-md-9  "> 
                            <input type="text" name="" id="" class="form-control">

                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-end">
                        <button class="btn btn-primary form-save-btn">
                            Proceed
                        </button>
                    </div>
                </div>
              
            </div>
        </div>


       

    </div>
</section>


<app-footer></app-footer>
