<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>House Owner Master</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">State<span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control form-select">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">SBU<span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control form-select">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Plant<span class="text-danger">*</span></label>
                    <select name="" id="" class="form-control form-select">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">House Owner Name<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Phone Number<span class="text-danger">*</span></label>
                    <input type="number" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Email ID<span class="text-danger">*</span></label>
                    <input type="email" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Address<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Govt ID Proof<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Upload Govt ID Proof<span class="text-danger">*</span></label>
                    <input type="file" name="" id="" class="form-control">
                </div>
            </div>
        </div>
        <h5 class="mt-4 text-secondary">
            Bank Account Details of House Owner
        </h5>
        <hr class="my-1" />
        <div class="row pt-4">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Full Name<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Account Number<span class="text-danger">*</span></label>
                    <input type="number" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">IFSC<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Description<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Save
            </button>
        </div>
    </div>
</section>
<app-footer></app-footer>