input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #278A9D;
    padding: 6px 20px;
    border-radius: 5px;
    color: #110000;
    cursor: pointer;
    
  }
  .file-input{
      border: 1px solid #e7e2e2;
      border-radius: 5px;
      background: #f8fafc;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #17adcb;
  }
  
  
  .switch {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 34px;
      
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 40px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #278A9D;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #278A9D;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    