<section id="pre-footer"></section>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start pb-1 pb-md-0">
          &copy; {{ currentYear }} PAPL. All Right Reserved
        </div>
        <div class="col-md-6 d-flex gap-2 justify-content-center justify-content-md-end">
          <a href="https://papl.tech/site/terms" target="_blank">Terms</a>
          <span>|</span>
          <a href="https://papl.tech/site/privacy" target="_blank">Privacy</a>
          <span>|</span>
          <span href="#" target="_blank">Disclamer</span>
        </div>
      </div>
    </div>
  </footer>
  