<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>House Registration</span>
    </div>
</section>
<section id="page-content">
    <form [formGroup]="houseRegistrationForm" class="container">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">Owner Name<span class="text-danger">*</span></label>
                    <ng-container *ngIf="!updatebtn; else showInputField">
                        <select formControlName="ownerName" class="form-select" aria-label="Default select example"
                            required>
                            <option value="0" selected>Choose Owner Name...</option>
                            <option *ngFor="let owner of allOwner" [value]="owner.ownerId">{{ owner.ownerName }}
                            </option>
                        </select>
                    </ng-container>
                    <ng-template #showInputField>
                        <input type="text" name="" id="" class="form-control" formControlName="ownerName"
                            maxlength="20">
                    </ng-template>
                    <div *ngIf="houseRegistrationForm.get('owner')?.invalid && houseRegistrationForm.get('owner')?.touched"
                        class="error-message">
                        <div *ngIf="houseRegistrationForm.get('owner')?.hasError('min')">
                            Select Owner Name.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">House No/Name<span class="text-danger">*</span></label>

                    <input type="text" name="" id="" class="form-control" formControlName="houseName" maxlength="20">
                    <div *ngIf="houseRegistrationForm.get('houseName')?.invalid && houseRegistrationForm.get('houseName')?.touched"
                        class="error-message">
                        House No/Name is required.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">No Of Rooms<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="noOfRooms"
                        ng-pattern="/(^0$)|(^[1-9]\d{0,8}$)/" maxlength="2"
                        (input)="vldChkLst.allowNumericDigits($event)">
                    <div *ngIf="houseRegistrationForm.get('noOfRooms')?.invalid && houseRegistrationForm.get('noOfRooms')?.touched"
                        class="error-message">
                        No Of Rooms is required and should be numeric.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">No Of Electric Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="electricBill"
                        (input)="vldChkLst.allowNumericDigits($event)" maxlength="2">
                    <div *ngIf="houseRegistrationForm.get('electricBill')?.invalid && houseRegistrationForm.get('electricBill')?.touched"
                        class="error-message">
                        No Of Electric Bills is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">No of water Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="waterBill"
                        (input)="vldChkLst.allowNumericDigits($event)" maxlength="2">
                    <div *ngIf="houseRegistrationForm.get('waterBill')?.invalid && houseRegistrationForm.get('waterBill')?.touched"
                        class="error-message">
                        No of Water Bills is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">Address<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="address"
                        maxlength="35">
                    <div *ngIf="houseRegistrationForm.get('address')?.invalid && houseRegistrationForm.get('address')?.touched"
                        class="error-message">
                        Address is required.
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">Address 2<span class="text-danger"></span></label>
                    <input type="text" name="" id="" class="form-control" formControlName="address2" maxlength="35">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">District<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="district"
                        (input)="vldChkLst.allowAlpha($event)">
                    <div *ngIf="houseRegistrationForm.get('district')?.invalid && houseRegistrationForm.get('district')?.touched"
                        class="error-message">
                        District is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">PIN<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control" required formControlName="pin"
                        (input)="vldChkLst.allowNumericDigits($event)" maxlength="6">
                    <div *ngIf="houseRegistrationForm.get('pin')?.invalid && houseRegistrationForm.get('pin')?.touched"
                        class="error-message">
                        PIN is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">Start Date<span class="text-danger">*</span></label>
                    <input type="date" class="form-control box" name="filter_date" id="startDate" required
                        formControlName="startDate" (input)="updateMinEndDate()" />
                </div>
                <div *ngIf="houseRegistrationForm.get('startDate')?.invalid && houseRegistrationForm.get('startDate')?.touched"
                    class="error-message">
                    <div *ngIf="houseRegistrationForm.get('startDate')?.hasError('pastDateTime')">
                        Start Date cannot be in the past.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control box" name="filter_date" id="endDate" required
                        formControlName="endDate" [min]="houseRegistrationForm.get('startDate')?.value" />
                </div>
            </div>

        </div>


        <div class="row  pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">
            <h5 class="mt-4  text-black">
                House Mapping
            </h5>
            <!-- <div class="button-success col-sm-6 col-md-1">
                <button type="button" (click)="addstate()" class="button btn btn-primary py-0 px-4 m-1">+</button>
              </div> -->
            <form action="" [formGroup]="stateForm">
                <div formArrayName="stateSub">
                    <div *ngFor="let stateGroup of stateArray.controls; let i = index" [formGroupName]="i" class="row">
                        <div class="col-sm-6 col-md-4 py-2">
                            <label for="state" class="form-label">State<span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="stateId" id="stateId"
                                aria-label="Default select example" required (change)="getSubonStateChange($event,i)">
                                <option value="" selected>Choose State...</option>
                                <option *ngFor="let state of stateDtails" [value]="state.stateId">{{ state.stateName }}
                                </option>
                            </select>
                            <!-- <div *ngIf="stateArray.controls[i].get('stateId')?.invalid && stateArray.controls[i].get('stateId')?.touched"
                                class="error-message">
                                <div *ngIf="stateArray.controls[i].get('stateId')?.hasError('min')">
                                    Select State.</div>

                            </div> -->
                            <div class="error-message"
                                *ngIf="stateArray.controls[i].get('stateId')?.invalid && stateArray.controls[i].get('stateId')?.touched">
                                <div *ngIf="stateArray.controls[i].get('stateId')?.hasError('required')"> Select State.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 py-2">
                            <label for="state" class="form-label">SBU<span class="text-danger">*</span></label>
                            <select formControlName="sbuId" id="sbuId" class="form-select"
                                aria-label="Default select example" required (change)="getPlantOnSubChange($event,i)">
                                <option value="" selected>Choose SBU...</option>
                                <option *ngFor="let sbu of activeSBU[i]" [value]="sbu.locationId">{{ sbu.locationName }}
                                </option>
                            </select>
                            <!-- <div *ngIf="stateArray.controls[i].get('sbuId')?.invalid && stateArray.controls[i].get('sbuId')?.touched"
                                class="error-message">
                                <div *ngIf="stateArray.controls[i].get('sbuId')?.hasError('min')">
                                    Select SBU.</div>
                            </div> -->
                            <div class="error-message"
                                *ngIf="stateArray.controls[i].get('sbuId')?.invalid && stateArray.controls[i].get('sbuId')?.touched">
                                <div *ngIf="stateArray.controls[i].get('sbuId')?.hasError('required')"> Select SBU.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 py-2">
                            <label for="state" class="form-label">Plant<span class="text-danger">*</span></label>
                            <select formControlName="plantId" id="plantId" class="form-select"
                                aria-label="Default select example" required>
                                <option value="" selected>Choose Plant...</option>
                                <option [value]="plant.plantId" *ngFor="let plant of activePlant[i]">{{ plant.plantName
                                    }}</option>
                            </select>
                            <!-- <div *ngIf="stateArray.controls[i].get('plantId')?.undefind && stateArray.controls[i].get('plantId')?.invalid && stateArray.controls[i].get('plantId')?.touched"
                                class="error-message">
                                <div *ngIf="stateArray.controls[i].get('plantId')?.hasError('min')">
                                    Select Plant.</div>
                            </div> -->
                            <div class="error-message"
                                *ngIf="stateArray.controls[i].get('plantId')?.invalid && stateArray.controls[i].get('plantId')?.touched">
                                <div *ngIf="stateArray.controls[i].get('plantId')?.hasError('required')"> Select Plant.
                                </div>
                            </div>
                        </div>
                        <div class="col-2 py-2" style="    margin-top: 31px;">
                            <button class="btn btn-danger btn-sm" *ngIf="i>0" (click)="removeState(i)">
                                <i class="fa-solid fa-trash-alt"></i>
                            </button>
                            <button *ngIf="!updatebtn" type="button" (click)="addstate()" class="btn btn-primary m-1 btn-sm"><i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>

                </div>
            </form>

            <div class="text-danger">{{errorMessageForHouseMapping}}</div>


        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button *ngIf="!updatebtn" class="btn btn-primary form-save-btn" (click)=" registerHouse()">
                Save
            </button>
            <button *ngIf="updatebtn" class="btn btn-primary mx-1 px-4" (click)=" updateHouseForm()">
                Update
            </button>
            <button *ngIf="updatebtn" class="btn btn-danger mx-1 px-4 " (click)="cancelUpdate()">
                Cancel
              </button>
        </div>
        
    </form>
    
    <div class="container" style="  margin-top: 30px;">
        <div class="d-flex justify-content-between align-items-center mt-5">
            <div class="">
                <button class="btn btn-primary px-3 py-2" style="font-size: 13px;" (click)="exportAsXLSX()">
                    Export To Excel
                </button>
            </div>
            <div class="d-flex  align-items-center">
                <div style="display: flex;">
                    <input type="text" class="form-control" placeholder="Search" style="margin-right: 8px;">
                    <div style="display: flex; align-items: center; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #e9ecef; border: 1px solid #ced4da; border-radius: 0.25rem;">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"style="position: relative; overflow-x: auto; overflow-y: auto; margin-top: 10px;">
            <table class="table w-full table-bordered table-striped">
                <thead class="">
                    <tr>
                        <th style="background-color: rgba(0, 133, 159, 1); color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">State</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">SBU</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Plant</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Owner Name</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">House Name</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">No of Units</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">No of Electric Bills</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">No of Water Bills</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Address</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Created Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Action</th>
    
                    </tr>
                </thead>
                <tbody>
    
                    <tr *ngFor="let item of allHouseDetails | paginate
                        : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.stateName }}</td>
                        <td>{{ item.locationName }}</td>
                        <td>{{ item.plantName}}</td>
                        <td>{{ item.ownerName }}</td>
                        <td>{{ item.houseName }}</td>
                        <!-- <td>{{ item.plantName }}</td> -->
                        <td>{{ item.noOfUnits}}</td>
                        <td>{{ item.noOfEleBills }}</td>
                        <td>{{ item.noOfWtrBills }}</td>
                        <td>{{ item.address}}</td>
                        <td>{{item.createdDate }}</td>
    
                        <td>
                            <div style="display: inline-flex; ">
                                <button class="btn  btn-sm mx-2" style="background-color: rgb(22, 133, 236);color: #faf7f7;"
                                    (click)="updateHouse(item)">
                                    <i class="fa-solid fa-edit"></i>
                                </button>
    
                                <button class="btn btn-danger btn-sm mx-2 " (click)=" removeHouse(item.houseId)">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                            </div>
    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
            
        </div>
    </div>
    
    
</section>
<app-footer></app-footer>