<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Agreement type master</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-md-6">
                <div class="d-flex align-items-center w-100 py-2">
                    <div>
                        Agreement Type<span class="text-danger">*</span>
                    </div>
                    <div class="ms-3  d-flex-1  ">
                        <input formControlName="helperName" type="text" name="" id="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center w- py-2">
                    <div>
                        Description
                    </div>
                    <div class="ms-3 d-flex-1  ">
                        <input formControlName="helperName" type="text" name="" id="" class="form-control">
                    </div>
                </div>
            </div>

           
        </div>


        
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Save
            </button>
        </div>
    </div>
</section>
<app-footer></app-footer>
