.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #278A9D;
    padding: 8px;
    text-align: center;
  }
  .box{
    width: 200px;
  }
  @media (min-width: 1020px) {
    .box{
      width: 250px;
    }
  }
  @media (min-width: 1200px) {
    .box{
      width: 350px;
    }
  }
  
  .name{
    width: 160px;
  }