<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Agreement type master</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <form action="">
            <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
                <div class="col-md-6">
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Agreement Type<span class="text-danger">*</span>
                        </div>
                        <div class="ms-3  d-flex-2  ">
                            <input type="hidden" name="aggreTypeId" id="aggreTypeId" [(ngModel)]="aggreTypeId">
                            <input type="text" name="aggrementType" id="aggrementType" [(ngModel)]="aggrementType"
                                class="form-control box" (input)="vldChkLst.AllowAlphanumericWithSpace($event)" maxlength="100">
                            <div class="text-danger">{{ errorMessages.aggrementType }}</div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Start Date<span class="text-danger">*</span>
                        </div>
                        <div class="ms-3 d-flex-2">
                            <input type="date" class="form-control box" name="filter_sdate" id="filter_date"
                                [(ngModel)]="aggreStDate" (input)="updateMinEndDate()" />
                            <div class="text-danger">{{ errorMessages.aggreStDate }}</div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            End Date<span class="text-danger">*</span>
                        </div>
                        <div class=" ms-3 flex-1 ">
                            <input type="date" class="form-control box" name="filter_edate" id="filter_date"
                                [(ngModel)]="aggreEdDate" [min]="aggreStDate" />
                            <div class="text-danger">{{ errorMessages.aggreEdDate }}</div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Description
                        </div>
                        <div class="ms-3 d-flex-1  ">
                            <input type="text" name="aggrementTypeDesc" id="aggrementTypeDesc" class="form-control box"
                                [(ngModel)]="aggrementTypeDesc">
                        </div>
                    </div>
                </div>


            </div>



            <div class="mt-4 d-flex justify-content-end">
                <button class="btn btn-primary form-save-btn" (click)="saveAgreementType()" *ngIf="aggreTypeId==''">
                    Save
                </button>
                <button class="btn btn-primary form-save-btn" (click)="updateAgreementType()" *ngIf="aggreTypeId!==''">
                    Update
                </button>
            </div>
        </form>

        <div class="" style=" position: relative; overflow-x: auto; overflow-y: auto; margin-top: 30px;">
            <table class="table w-full table-bordered table-striped">
                <thead class="">
                    <tr>
                        <th style="background-color: rgba(0, 133, 159, 1); color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Agreement Type</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Description</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Start Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">End Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Created Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.aggreTypeName }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.aggreStDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.aggreEdDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ item.createdDate | date: 'dd/MM/yyyy' }}</td>

                        <td>
                            <div style="display: inline-flex;">
                                <button class="btn btn-sm mx-2"
                                    (click)="editAgreementType(item.aggreTypeId,item.aggreTypeName,item.aggreStDate,item.description,item.aggreEdDate)"
                                    style="background-color: rgb(22, 133, 236); color: #faf7f7;">
                                    <i class="fa-solid fa-edit"></i>
                                </button>

                                <button class="btn btn-danger btn-sm mx-2"
                                    (click)="deleteAgreementType(item.aggreTypeId)">
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<app-footer></app-footer>