<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/portal/house-owner-registration">
        <img src="/assets/images/papl.png" alt="" style="height: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Enrollment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Posting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Salary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Access Control</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">APP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Mgmt Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Compliance Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">A/Cs Reports</a>
          </li>
          <li class="nav-item d-flex align-items-center gap-2">
            <a class="nav-link active">ADMIN</a>
            <button class="btn btn-outline-light btn-sm" style="border-radius: 50px;">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>