/* dynamic-table.component.css */

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #278A9D;
    padding: 8px;
    text-align: center;
  }
  .modal-title{
    font-weight: bold;
    color: white;
    
  }
  .modal-header{
    
    background-color: #278A9D;
  }
  .date{
    width: 200px;
  }
  .name{
    width: 160px;
  }