<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Unit Booking</span>
    </div>
</section>
<section id="page-content">
    <form class="container" [formGroup]="employeeForm" action="">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">State<span class="text-danger">*</span></label>

                    <select class="form-select" aria-label="Default select example" required formControlName="state"  (change)="getSubonStateChange($event)">
                        <option selected>Choose State... </option>
                        <option *ngFor="let state of stateDtails" [value]="state.stateId">{{ state.stateName }}</option>
                    </select>
                     <div *ngIf="employeeForm.get('state')?.hasError('required') && employeeForm.get('state')?.touched" style="color: red;">
                        State is required.
                      </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">SBU <span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example" required (change)="getPlantOnSubChange($event)">
                        <option selected>Choose SBU... </option>
                        <option *ngFor="let sbu of activeSBU" [value]="sbu.locationId">{{sbu.locationName}}</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Plant <span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example" required (change)="getHouseByPlantId($event)">
                        <option selected>Choose Plant... </option>
                        <option [value]="plant.plantId" *ngFor="let plant of activePlant">{{plant.plantName}}</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Select House <span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example" required (change)="getHouseId($event)">
                        <option selected>Choose House... </option>
                        <option *ngFor="let house of activeHouse" [value]="house.houseId">{{house.houseName}}</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Unit Name/ID <span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example" required (change)="getunitId($event)">
                        <option selected>Choose Unit ID... </option>
                        <option  *ngFor="let unit of activeUnitId" [value]="unit.unitId">{{unit.unitNo}}</option>
                    </select>
                </div>

            </div>


        </div>



        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn" (click)="onClick1()">
                Search
            </button>
        </div>
    </form>
    <!-- dynamic-table.component.html -->
    <div class="container"style="position: relative; overflow-x: auto; overflow-y: auto; margin-top: 30px;">
        <table class="table table-bordered table-striped">
            <thead class="">
                <tr>
                    <th style="background-color: rgba(0, 133, 159, 1); color: #faf7f7;">SL.NO</th>
                    <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">House Name</th>
                    <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Unit No</th>
                    <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Occupied</th>
                    <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Available</th>
                    <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of houseDetails; let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ item.houseName }}</td>
                    <td>{{ item.unitNo }}</td>
                    <td (click)="showBookedData(item.booked,item.unitNo,item.houseName)"  style="cursor: pointer; color: blue; text-decoration: underline;">{{ item.booked }}</td>
                    <td>{{ item.available}}</td>
                    <td>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" (click)=" getEmployeeDetails()">Book</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Unit Booking</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form  [formGroup]="employeeForm" action="">
                <div class="modal-body">
             

                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Emp ID<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <select   formControlName="empId" class="form-select date " aria-label="Default select example" required  (change)="selectEmp($event)">
                                <option selected> Choose Employee ...</option>
                                <option *ngFor="let emp of allemployeeDetails" [value]="emp.paplId" >{{emp.paplId}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Emp Name<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="text" name="" id="" class="form-control"  formControlName="empName" [readonly]="true">
                        </div>
                    </div>
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Mobile No<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="number" name="" id="" class="form-control" required formControlName="mobileNo" [readonly]="true">
                            
                        </div>
                    </div>
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Service Order<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="text" name="" id="" class="form-control" required formControlName="serviceOrder" [readonly]="true">
                        </div>
                    </div>
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Email ID<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="text" name="" id="" class="form-control" required formControlName="emailId" [readonly]="true">
                        </div>
                    </div>
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Plant Name<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="text" name="" id="" class="form-control" required formControlName="plantName" [readonly]="true">
                        </div>
                    </div>

                    
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Select Start Date<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="date" class="form-control date" name="filter_date" id="filter_date" required formControlName="bookStartDate" (input)="onStartDateChange()">
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Select Period<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 d-flex-2">
                            <input type="text" name="" id="" class="form-control" required formControlName="selectPeriod" (input)="onPeriodChange()" maxlength="2">
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center w-100 py-2">
                        <div class="name">
                            Select End Date<span class="text-danger">*</span>
                        </div>
                        <div class="ms-5 flex-2">
                            <input type="date" class="form-control date" name="filter_date" id="filter_date" required formControlName="bkEndDate"/>
                        </div>
                    </div>
                    
    
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postBooking()">book</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<app-footer></app-footer>