<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Unit Registration</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Owner Name<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No Of Rooms<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No Of Electric Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No of water Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Address<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-2   mt-4 pt-2 ">


                <button type="button" class="btn btn-success py-0 px-2.5">+</button>
            </div>


           
        </div>


        <div class="row gap-2 pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">
           
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">House Name<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Room No.<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Unit Capacity<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Electric Bill %<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Water Bill %<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1 pt-4 mt-3">
                <button type="button" class="btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="btn btn-danger py-0 px-3">-</button>
            </div>

            

        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Save
            </button>
        </div>
    </div>
</section>
<app-footer></app-footer>