<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Unit Registration</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Owner Name<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No Of Rooms<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No Of Electric Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">No of water Bills<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Address<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-2   mt-4 pt-2 ">


                <button type="button" class=" button btn btn-success py-0 px-2.5">+</button>
            </div>


           
        </div>


        <div class="row gap-2 pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">
           
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">House Name<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Room No.<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Unit Capacity<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Electric Bill %<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Water Bill %<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1 pt-4 mt-3">
                <button type=" button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="button btn btn-danger py-0 px-3">-</button>
            </div>

            

        </div>
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Save
            </button>
        </div>
        <div class="w-100" style="overflow-x: auto; padding-top: 30px;">
            <table class="table table-bordered table-striped">
                <thead class="">
                    <tr>
                        <th style="background-color: rgba(0, 133, 159, 1); color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Unit No</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Occupied</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Available</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <td>{{ item.SL_NO }}</td>
                        <td>{{ item.Unit_No }}</td>
                        <td>{{ item.Occupied }}</td>
                        <td>{{ item.Available}}</td>
                        <td >
                            <button class="btn  btn-sm mx-2" style="background-color: rgb(22, 133, 236);color: #faf7f7;" >
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            
                            <button class="btn btn-danger btn-sm mx-2 " >
                                <i class="fa-solid fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<app-footer></app-footer>