<app-header></app-header>
<section id="secondary-header">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Unit Registration</span>
    </div>
</section>
<section id="page-content">
    <div class="container">
        <div  class="row " style="background-color: rgba(226, 242, 246, 1); padding:  1% 5% 1% 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">State<span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose State... </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6 col-md-4 ">
                <div class="form-group">
                    <label for="state" class="form-label">SBU<span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose SBU... </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-6 col-md-4  ">
                <div class="form-group">
                    <label for="state" class="form-label">Plant<span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose Plant... </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row " style="background-color: rgba(226, 242, 246, 1); padding: 5%; margin-bottom: 0.5cm;">
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">House Name<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Room No.<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Unit Capacity<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Electric Bill Percentage<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Water Bill Percentage<span class="text-danger">*</span></label>
                    <input type="text" name="" id="" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">Start Date<span class="text-danger">*</span></label>
                    <input type="date" name="" id="" class="form-control" formControlName="itemPurchaseDate">
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="state" class="form-label">End Date<span class="text-danger">*</span></label>
                    <input type="date" name="" id="" class="form-control" formControlName="itemPurchaseDate">
                </div>
            </div>
            
            <div class="btn-s col-sm-6 col-md-2    ">


                <button type="button" class=" button btn btn-primary py-0 px-4">+</button>
            </div>


           
        </div>


        <!-- <div class="row gap-2 pt-4" style="background-color: rgba(226, 242, 246, 1);padding: 5%;">
           
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">House_Name<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Room_No.<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Unit_Capacity<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Electric_Bill%<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">
                <label for="state" class="form-label">Water_Bill%<span class="text-danger">*</span></label>

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="btn-d col-sm-6 col-md-1 ">
                <button type=" button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class=" button btn btn-danger py-0 px-3">-</button>
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-2 py-2">

                <input type="text" name="" id="" class="form-control">
            </div>
            <div class="col-sm-6 col-md-1  py-2">
                <button type="button" class="button btn btn-danger py-0 px-3">-</button>
            </div>

            

        </div> -->
        <div class="mt-4 d-flex justify-content-end">
            <button class="btn btn-primary form-save-btn">
                Update
            </button>
        </div>
        <div class="" style=" position: relative; overflow-x: auto; overflow-y: auto; margin-top: 30px;">
            <table class="table w-full table-bordered table-striped">
                <thead class="">
                    <tr >
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">SL.NO</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">House_Name</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Room_No</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Unit_Capacity</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Elec._bill_%</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Water_bill_%</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Start_Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">End_Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7;">Created_Date</th>
                        <th style="background-color: rgba(0, 133, 159, 1);color: #faf7f7; ">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <td>{{ item.SL_NO }}</td>
                        <td>{{ item.Unit_No }}</td>
                        <td>{{ item.Occupied }}</td>
                        <td>{{ item.Available}}</td>
                        <td>{{ item.Unit_No }}</td>
                        <td>{{ item.Occupied }}</td>
                        <td>{{ item.Available}}</td>
                        <td>{{ item.Unit_No }}</td>
                        <td>{{ item.Occupied }}</td>
                        
                        <td >
                            <div  style="display: inline-flex; ">
                                <button class="btn  btn-sm mx-2" style="background-color: rgb(22, 133, 236);color: #faf7f7;" >
                                    <i class="fa-solid fa-edit"></i>
                                </button>
                                
                                <button class="btn btn-danger btn-sm mx-2 " >
                                    <i class="fa-solid fa-trash-alt"></i>
                                </button>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<app-footer></app-footer>