<app-header></app-header>
<section id="secondary-header" class="px-2 px-sm-0">
    <div class="container d-flex align-items-center gap-2">
        <a href="" class="primary-link fw-bold">Home</a>
        <span>/</span>
        <span>Dashboard</span>
    </div>
</section>
<div class="row">
    <div class="col-sm-6 col-xl-6 mb-3 mb-xl-0">
        <div class="card h-100 border-0" > <!-- Add 'border-0' class to remove the border -->
            <img src="/assets/images/home2.png" alt="" />
        </div>
    </div>
    <div class="col-sm-6 col-xl-6 mb-5 mb-xl-0">
        <div class="card h-100 border-0 position-relative">
            <img src="/assets/images/home1.png" alt="" class="card-img" />
            <div class="text-overlay">
                <img src="/assets/images/papl.png" alt="" class="" />
                <h1>PAPL</h1>
                <h5>House Rent</h5>
                <h5>Management System</h5>
            </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>

